.search {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.search--center{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search--top{
    justify-content: center;
    align-items: center;
}
body{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, #dae4ed, #a1acb3, #6b777c, #3a4649, #0f1a1c);
}